#demoImg{
	height: 500px !important;
}

#demoArea{
	padding: 10px;
}

#searchBar{
	margin: 0px !important;
}

#search{
	height: 35px !important;
	border-bottom: transparent !important;
	margin: 0px !important;
}

#dates_area{
	border:1px solid black;
	height: auto;
	padding: 10px !important;
	border-radius:3px !important;
}

#displayArea{
	height: 370px !important;
	width: 100%;
	border-radius:3px !important;
	margin:0px;
	margin-top:10px;
	padding: 10px !important;
	border:1px solid black;
}

#actions{
	padding: 0px !important;
	margin-top: 15px;
}

#bklist_controller{
	margin-top: 10px !important;
}

.bk_card .card-image{
	height: 154px !important;
}

.bk_card .card-image img{
	height: 100% !important;
}

.bk_card .card-title{
	padding-left: 5px;
}

#activityModal{
	width: 500px !important;
}