<div id="other-head">
	<div id="sub-otherhead">
    	<div class="other-head">
        	<h4>Account Overview</h4>
        </div>
        <div class="otherborder">
        	<img src="images/border2.png">
        </div>
    </div>
</div>
<div id="main-other">
	<div id="sub-other">
    	    <div class="all-information">
<div class="desh-left">
        	<div class="deshuser">
            	<div class="deshup">
                    <div class="deshicon">
                    	<img src="images/duser.png">
                    </div>
                    <div class="desh-text">
                    	<div class="desh-head">
                        	<p>swaibu</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lastaccess">
               <div class="ac-left">
               		<p>Registration Date :   </p>
               </div>
               <div class="ac-right">
               		<p>Aug-22-2017</p>
               </div>	
            </div>
            <div class="al">
            	<div class="alc">
                	<a href="?a=account" class="a-link">Dashboard</a>
                </div>
                <div class="alc">
                	<a href="?a=logout" class="a-link">Log Out</a>
                </div>
            </div>
            <div class="desh-menu">
                    <ul>
                        <li><a href="?a=deposit" class="hoverdesh">Item 1</a></li>
                        <li><a href="?a=withdraw">Item 2</a></li>
                        <li><a href="?a=internal_transfer">Item 3</a></li>
                        <li><a href="?a=deposit_list">Item 4</a></li>
                        <li><a href="?a=deposit_history">Item 5</a></li>
                        <li><a href="?a=withdraw_history">Item 6</a></li>
                        <li><a href="?a=earnings">Item 7</a></li>
                        <li><a href="?a=referals">Item 8</a></li>
                        <li><a href="?a=referallinks">Item 9</a></li>
                        <li><a href="?a=tell_friend">Item 10</a></li>
                    </ul>
            </div>
        </div>
<div class="desh-right">
            <div class="information-head">
                <h5>Dashboard</h5>
            </div>



            <div class="deshbalance">
            	<div class="balance-one">
                	<h5 style="text-align:center">More Information </h5>
            	</div>
                <div class="invest-details">
                    <div class="details-invest">
                        <div class="invest-all">
                            <div class="invest-one">
                                <p>Last Access :	 <span>  Aug-22-2017 11:52:35 AM</span></p>
                            </div>
                            <div class="invest-one">
                                <p>Item 1 :	 <span>$<b>0.00</b></span></p>
                            </div>
                            <div class="invest-one">
                                <p>item 2 :	 <span>$<b>0.00</b></span></p>
                            </div>
                            <div class="invest-one">
                                <p>Item 3 :	 <span>$<b>n/a</b></span></p>
                            </div>
                            <div class="invest-one">
                                <p>Item 4 :	 <span>$<b>n/a</b></span></p>
                            </div>
                            <div class="maked">
                            	<a href="?a=deposit" class="a-link">EDIT</a>
                            </div>
                            <div class="maked">
                            	<a href="?a=withdraw" class="a-link">DELETE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-referbg">
                    <p>Your Referral Link : <span>https://super-market.biz/?ref=swaibu</span> </p>
                </div>
            </div>


</div>
</div>
</div>
</div>