<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/style/materialize/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="static/style/custom.css">
	<script type="text/javascript" src="static/javascript/jquery/jquery-3.2.1.js"></script>
	
	<title>Fantasy Shopping</title>
</head>
<body>
<div>
	<div class="genie-carousel">
	    <div class="navbar-fixed" id="mainNav">
			<nav id="home_nav">
				<div class="nav-wrapper">
					<div class="container">
					<a href="#" class="brand-logo">Fantasy Shopping</a>
					<ul id="topNave" class="right hide-on-med-and-down">
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
					</ul>
					</div>
				</div>
			</nav>
		</div>

		<div id="forms" class="row">
			<div class="flipper">
				<div id="loginForm_area">
					<form class="col s12 translucent" method="POST" id="login_form">
						<h5 class="col s12 center">
							Login
						</h5>
						<div class="input-field col s12">
							<input type="text" name="email"/>
							<label>Email</label>
						</div>

						<div class="input-field col s12">
							<input type="password" name="password"/>
							<label for="password">Password</label>
						</div>
						
						<div class="input-field center col s12">
							<button class="btn">Login</button>
						</div>
					</form>

					<p class="note translucent center white col s12">
						Don't have an account? 
					</p>
					<div class="col s12 center">
						<button class="btn flip_me">
							Register
						</button>
					</div>
				</div>

				<div id="registerForm_area">
					<form class="col s12 translucent" method="POST" id="reg_form">
						<h5 class="col s12 center">
							Register
						</h5>
						<div class="input-field col s12">
							<input type="text" name="email"/>
							<label>Email</label>
						</div>

						<div class="input-field col s12">
							<input type="text" name="first_name"/>
							<label for="first_name">First Name</label>
						</div>

						<div class="input-field col s12">
							<input type="text" name="last_name"/>
							<label for="last_name">Last Name</label>
						</div>

						<div class="input-field col s12">
							<input type="password" name="password"/>
							<label for="password">Password</label>
						</div>

						<div class="input-field col s12">
							<input type="password" name="password_repeat"/>
							<label for="password_repeat">Repeat password</label>
						</div>
						
						<div class="input-field center col s12">
							<button class="btn">Register</button>
						</div>
					</form>

					<p class="note translucent center white col s12">
						Already have an account? 
					</p>
					<div class="col s12 center">
						<button class="btn flip_me">
							Login
						</button>
					</div>
				</div>
			</div>

		</div>

		<div class="carousel carousel-slider center">
		    <div class="carousel-item genie-carousel-item" href="#one!">
		      <img src="static/images/1.jpg"/>
		    </div>

		    <div class="carousel-item genie-carousel-item" href="#two!">
		      <img src="static/images/2.jpg"/>
		    </div>
		    <div class="carousel-item genie-carousel-item" href="#three!">
		      <img src="static/images/3.jpg"/>
		    </div>
		    <div class="carousel-item genie-carousel-item" href="#four!">
		      <img src="static/images/1.jpg"/>
		    </div>
		 </div>
  </div>
</div>


</body>
<script type="text/javascript" src="static/style/materialize/js/materialize.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$(".modal").modal({
			StartingTop:'10%'
		});

		 $('.carousel.carousel-slider').carousel({fullWidth: true});
		 setInterval(function(){
		 	$('.carousel.carousel-slider').carousel('next');},20000);

		 $(".flip_me").click(function(){
		 	$(".flipper").toggleClass("flip");
		 });

		 $("#reg_form").submit(function(event){
		 		event.preventDefault();
		 		var data=$(this).serialize()
		 		alert(data)
		 		$.ajax({
		 			"type":"POST",
		 			"dataType":"json",
		 			"url":"/api/register",
		 			 "data":data,
		 			success: function(res){
		 				if(res['status']=="success"){
		 					window.location.href="/dashboard"
		 				}
		 			}
		 		});
		 	})

		 $("#login_form").submit(function(event){
		 	event.preventDefault();
		 		var data=$(this).serialize()
		 		alert(data)
		 		$.ajax({
		 			"type":"POST",
		 			"dataType":"json",
		 			"url":"/api/login",
		 			 "data":data,
		 			success: function(res){
		 				if(res['status']=="success"){
		 					window.location.href="/dashboard"
		 				}
		 			}
		 		});
		 })
		/*$(".pickdate").pickadate({
			selectMonths:true,
			selectYears:100
		});*/
	});
</script>
</html>